
bitcoinforum/preprocessed-data/*
bitcoinforum/raw-data/*
bitcoinforum/raw-data_/*
bitcoinforum/price_history.csv
a.ipynb
b.ipynb
bitcoinforum/1_forum_dataset/raw-data/*
bitcoinforum/2_train_set_creation/concatenated_threads.csv
bitcoinforum/3_training/mistral/*
bitcoinforum/4_data_extraction/inference_.ipynb
bitcoinforum/2_train_set_creation/dataset_backup.csv
*.pyc
bitcoinforum/5_processing_extracted_data/hardware_instances_2020_all.csv
bitcoinforum/5_processing_extracted_data/hardware_instances_all.csv
bitcoinforum/5_processing_extracted_data/plotdata_all.csv
bitcoinforum/5_processing_extracted_data/hardware_instances_with_efficiency_all.csv
bitcoinforum/6_plotting/model_and_monthly_data.csv
bitcoinforum/6_plotting/model_and_monthly_data_2.csv
bitcoinforum/1_forum_dataset/scraper/cache.pt
bitcoinforum/6_calculating_costs/orig/China city electricity price.xlsx
bitcoinforum/6_calculating_costs/orig/china_electricity_series_data.xlsx
bitcoinforum/6_calculating_costs/orig/China_US Average Retail Electricity Price.xlsx
bitcoinforum/6_calculating_costs/orig/Average Retail Price of Electricity_ All Sectors_ United States.xlsx
bitcoinforum_general/1_forum_dataset/concat.csv
bitcoinforum_general/2_train_set_creation/inputs.csv
bitcoinforum_general/2_train_set_creation/inputs_old.csv
analysis/pdfs/*
a.tex
bitcoinforum/7_plotting/pdfs/*
