
bitcoinforum/preprocessed-data/*
bitcoinforum/raw-data/*
bitcoinforum/raw-data_/*
bitcoinforum/price_history.csv
a.ipynb
b.ipynb
bitcoinforum/1_forum_dataset/raw-data/*
bitcoinforum/2_train_set_creation/concatenated_threads.csv
bitcoinforum/3_training/mistral/*
bitcoinforum/4_data_extraction/inference_.ipynb
bitcoinforum/2_train_set_creation/dataset_backup.csv
